@model Masterpies.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devicebackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devicebackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceImg2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceImg2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceImg3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceImg3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
