@model Masterpies.Models.Appointment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientgender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientgender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Device.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.DeviceName)
        </dd>


    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="preventDefault(event)" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <script>
            function preventDefault(event) {
                event.preventDefault();

                // Get the form element
                var form = document.getElementById("myForm");

                // Create a FormData object to submit the form data
                var formData = new FormData(form);

                // Submit the form using an AJAX request
                fetch(form.action, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {

                        // Show the success SweetAlert after the action is complete
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Your work has been saved',
                            showConfirmButton: false,
                            timer: 2000
                        })

                            .then(function () {
                                window.location.href = "/AdminAppointments/Requsts";

                                AdminAppointments / Requsts


                            })

                    })

            }
        </script>
    }
    </div>
