@model Masterpies.Models.Appointment

@{
    ViewBag.Title = "statistics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>statistics</h2>

<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
            <div class="count">@ViewBag.requst</div>
            <h3>Requst</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i></div>
            <div class="count">@ViewBag.AcceptedCount</div>
            <h3>Accepted Appointmenrt</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
            <div class="count">@ViewBag.reject</div>
            <h3>Reject Appointment</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">@ViewBag.user</div>
            <h3>User</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">@ViewBag.device</div>
            <h3>Devices</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    @{
        Masterpies.Models.MasterPieseEntities2 db = new Masterpies.Models.MasterPieseEntities2();
        Masterpies.Models.Device device = new Masterpies.Models.Device();
        var dev = db.Devices.ToList();
        foreach (var item in ViewBag.deviceSum)
        {

            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count">@item</div>
                    <h3>Edit</h3>
                </div>
            </div>
        }
    }
</div>
<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>Contact <small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="height: 300px; overflow-y: auto;overflow-x:scroll;">
            <!-- Add a fixed height and overflow-y property -->
            @{
                Masterpies.Models.Contact contact = new Masterpies.Models.Contact();
                var dev1 = db.Contacts.ToList();
                foreach (var item in dev1)
                {
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <h4>@item.Name</h4>
                            <p>@item.Message</p>
                        </div>
                    </article>
                }

            }
        </div>
    </div>
</div>




<!--display the weather inside the card -->
<div class="container">
    <div class="search">
        <input type="text" class="search-bar">
        <!--use react icons -->
        <button><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1.2em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"></path><path d="M11.412,8.586C11.791,8.966,12,9.468,12,10h2c0-1.065-0.416-2.069-1.174-2.828c-1.514-1.512-4.139-1.512-5.652,0 l1.412,1.416C9.346,7.83,10.656,7.832,11.412,8.586z"></path></svg></button>
    </div>
    <div class="weather">
        <h2 class="city">Weather in Irbid</h2>
        <h1 class="temp">21°C</h1>
        <div class="description">Clear sky</div>
        <div class="humidity">Humidity:55%</div>
        <div class="wind">Wind speed: 4 m/s</div>
        <div class="image">
            <img src="https://openweathermap.org/img/wn/01d.png" alt="" class="icon">
        </div>
    </div>

</div>
<script>
    let weather={
    //from weatheropenmap
    "apikey":"7193073d2ddddd6ff9563391f29087dd",

    fetchweather:function(city)
    {

    fetch(
        "https://api.openweathermap.org/data/2.5/weather?q="
        + city
         +"&units=metric&appid="
         +this.apikey)
        .then((response)=>response.json())
       .then((data)=>this.displayWeather(data));//console.log(data)

    },

    displayWeather:function(data)
    {

        const {name}=data;
        const {icon,description}=data.weather[0];//it's object exist in first element of weather array
        const{temp,humidity}=data.main;
        const {speed}=data.wind;
        console.log(name,icon,description,temp,humidity,speed)


        document.querySelector(".city").innerText="Weather in "+name;
        document.querySelector(".temp").innerText=temp+"°C";
        document.querySelector(".icon").src="https://openweathermap.org/img/wn/"+icon;
        document.querySelector(".description").innerText=description;
        document.querySelector(".humidity").innerText="Humidity:"+humidity+"%";
        document.querySelector(".wind").innerText="Wind speed :"+speed+" M/S";

        document.body.style.backgroundImage="url('https://source.unsplash.com/1600x900/?" + name+"')"
    },

    search:function()
    {
       this.fetchweather( document.querySelector(".search-bar").value);
    }
};

let searchButton=document.querySelector(".search button");
searchButton.addEventListener("click",function()
{
weather.search();
});
enterKey=document.querySelector(".search-bar")
enterKey.addEventListener("keyup",function(event)
{
    if(event.key=="Enter")
    weather.search();
})
//the data that were in index.html will not display ,the real data instead will display
weather.fetchweather("irbid");
</script>




<!-- start of weather widget -->
<div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Daily active users <small>Sessions</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="temperature">
                            <b>Monday</b>, 07:30 AM
                            <span>F</span>
                            <span><b>C</b></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="weather-icon">
                            <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="weather-text">
                            <h2>Texas <br><i>Partly Cloudy Day</i></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="weather-text pull-right">
                        <h3 class="degrees">23</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row weather-days">
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Mon</h2>
                            <h3 class="degrees">25</h3>
                            <canvas id="clear-day" width="32" height="32"></canvas>
                            <h5>15 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Tue</h2>
                            <h3 class="degrees">25</h3>
                            <canvas height="32" width="32" id="rain"></canvas>
                            <h5>12 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Wed</h2>
                            <h3 class="degrees">27</h3>
                            <canvas height="32" width="32" id="snow"></canvas>
                            <h5>14 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Thu</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="sleet"></canvas>
                            <h5>15 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Fri</h2>
                            <h3 class="degrees">28</h3>
                            <canvas height="32" width="32" id="wind"></canvas>
                            <h5>11 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="daily-weather">
                            <h2 class="day">Sat</h2>
                            <h3 class="degrees">26</h3>
                            <canvas height="32" width="32" id="cloudy"></canvas>
                            <h5>10 <i>km/h</i></h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
<!-- end of weather widget -->