@model Masterpies.Models.Device

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devicebackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devicebackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceImg2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceImg2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceImg3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceImg3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.step3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.step3)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" onclick="preventDefault(event)" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <script>
            function preventDefault(event) {
                event.preventDefault();

                // Get the form element
                var form = document.getElementById("myForm");

                // Create a FormData object to submit the form data
                var formData = new FormData(form);

                // Submit the form using an AJAX request
                fetch(form.action, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        // Check if the response is successful (status 200)
                        if (response.ok) {
                            // Show the success SweetAlert after the action is complete
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Your work has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        } else {
                            // Handle server-side errors by showing an error SweetAlert
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: 'An error occurred',
                                text: 'Please try again later',
                                showConfirmButton: true
                            });
                        }
                    })
                    .catch(error => {
                        // Handle network errors by showing an error SweetAlert
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Network error',
                            text: 'Please check your internet connection and try again',
                            showConfirmButton: true
                        });
                    });
            }
        </script>


    }
</div>
