@model IEnumerable<Masterpies.Models.Device>



@{
    ViewBag.Title = "Index";
}




@foreach (var item in Model)
{




    <section class="banner-area other-page" style=" background-image: url(../@item.Devicebackground);">


        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>@item.DeviceName</h1>
                    <a href="/Home/index">Home</a> <span style="color:white">|</span> <a href="about.html">@item.DeviceName</a>


                </div>
            </div>
        </div>
    </section>





    <!-- About Start -->
    <div class="container-fluid py-5" style="height: 360px;">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-50 rounded" src="~/@item.DeviceImg3">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">@item.DeviceName</h5>
                        <h1 class="display-4">What is a @item.DeviceName Exam?   </h1>
                    </div>
                    <p>
                        @item.Description               
                    </p>

                </div>
            </div>
        </div>
    </div>
}
<!-- About End -->

<div class="container-xxl w-400 flex-grow-1 container-p-y">
    @foreach (var item in Model)
    {


        <!-- Accordion -->
        <div class="row">
            <div class="col-md mb-4 mb-md-0">
                <div class="accordion mt-3 active" id="accordionExample">
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionOne"
                                    aria-expanded="true"
                                    aria-controls="accordionOne">
                               Step 1
                            </button>
                        </h2>
                        <div id="accordionOne"
                             class="accordion-collapse collapse show"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body active">
                                @item.step1

                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionTwo"
                                    aria-expanded="false"
                                    aria-controls="accordionTwo">
                                step 2
                            </button>
                        </h2>
                        <div id="accordionTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @item.step2

                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionThree"
                                    aria-expanded="false"
                                    aria-controls="accordionThree">
                                step 3
                            </button>
                        </h2>
                        <div id="accordionThree"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @item.step3

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!--/ Accordion -->
@*==================================================*@

<!-- Appointment Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Appointment</h5>
                    <h1 class="display-4">Make An Appointment For Your Family</h1>
                </div>
           
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Call Us Now</p>
                        <a href="tel:+962790552430" target="_blank" class="fa fa-phone">Phone</a>

                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Mail Us Now</p>
                        <a href="mailto:sohibalrousan99@gmail.com" target="_blank" class="fa fa-google">Mail</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5" id="appoint">
                    <h1 class="mb-4">Book An Appointment</h1>

                    @using (Html.BeginForm("XRay", "Devices", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        if (ViewBag.slothour != null)
                        {

                            string[] appointments = ViewBag.slothour.Split(',');

                            @*foreach (var item in appointments)
                            {
                                <h1>@item</h1>

                            }

                            <div class=""><p> Date: @ViewBag.date</p></div>
                            <div id="selectedTimeValue"></div>
                            <p>@ViewBag.price</p>*@

                        }


                        if (ViewBag.flag == false)
                        {

                            <input name="DeviceId" type="number" style="visibility:hidden;" value="@ViewBag.DeviceId" />
                        }



                <div class="row g-3">

                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {
                            <input type="text" id="FirstName" name="FirstName" placeholder="First Name" class="form-control bg-light border-0" style="height: 55px;" required />}
                    </div>
                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {<input type="text" id="LastName" name="LastName" placeholder="Last Name" class="form-control bg-light border-0" style="height: 55px;" required />}
                    </div>
                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {<input type="number" id="patientAge" name="patientAge" placeholder="patient Age" class="form-control bg-light border-0" style="height: 55px;" required />}
                    </div>
                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {<select class="form-select bg-light border-0" name="patientgender" id="patientgender" style="height: 55px;" required>
                                <option disabled selected>Select Gender</option>
                                <option value="True">Male</option>
                                <option value="False">Female</option>
                            </select>
                        }
                    </div>
                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {
                            <select class="form-select bg-light border-0" name="city" id="city" style="height: 55px;" required>
                                <option disabled selected>Select City</option>
                                <option value="Irbid">Irbid</option>
                                <option value="Amman">Amman</option>
                                <option value="Ajloun">Ajloun</option>
                                <option value="Jarash">Jarash</option>
                                <option value="Zarqa">Zarqa</option>
                                <option value="Madaba">Madaba</option>
                                <option value="salt">salt</option>
                                <option value="karack">karack</option>
                                <option value="Altafileh">Altafileh</option>
                                <option value="Ma'an">Ma'an</option>
                                <option value="Aqaba">Aqaba</option>
                                <option value="Mafraq">Mafraq</option>
                            </select>}
                    </div>
                    <div class="col-12 col-sm-6">
                        @if (ViewBag.flag == false)
                        {
                            <input type="text" id="DeviceID" name="DeviceID" placeholder="" value="@ViewBag.Devicename" readonly class="form-control bg-light border-0" style="height: 55px;" />}

                    </div>
                    @if (ViewBag.flag)
                    {


                        <div class="col-12 col-sm-12">
                            <div class="date" id="date" name="AppointmentDate" data-target-input="nearest">
                                <input type="date"
                                       @*class="form-control bg-light border-0 datetimepicker-input"*@ name="AppointmentDate"
                                       placeholder="Date" data-target="#date" style="height: 236px; border:none;"
                                       min="" required>
                            </div>
                        </div>

                        <script>
                            var currentDate = new Date().toISOString().slice(0, 10);
                            document.querySelector('input[name="AppointmentDate"]').setAttribute('min', currentDate);
                        </script>



                    }
                    else
                    {


                        if (ViewBag.date != null)
                        { <div class="col-12 col-sm-12">
                                @*<input type="text" value="@ViewBag.date" readonly class="form-control bg-light border-0" style="height: 55px;" />*@
                            </div>
                        }





                    }
                    @{

                        string url = Request.Url.AbsoluteUri; // get the absolute URL of the current request
                        string[] segments = url.Split('/'); // split the URL into segments
                        int q = Convert.ToInt16(segments[segments.Length - 1]);

                    }

                    @{

                        List<SelectListItem> times = new List<SelectListItem>();

                        for (int hour = 9; hour <= 18; hour++) // hours from 9 AM to 6 PM
                        {
                            // add the hour to the list with a format of "hh:mm tt"
                            // tt represents the AM/PM designator
                            times.Add(new SelectListItem { Value = $"{hour}:00", Text = $"{hour}:00 AM" });
                            times.Add(new SelectListItem { Value = $"{hour}:30", Text = $"{hour}:30 AM" });
                        }

                        if (ViewBag.flag == false)
                        {
                            // check if there are any existing appointment times
                            if (ViewBag.slothour != null && ViewBag.slothour != "")
                            {
                                // split the appointment times into an array
                                string[] appointments = ViewBag.slothour.Split(',');

                                // remove the matching appointment times from the times list
                                foreach (string appointment in appointments)
                                {
                                    times.RemoveAll(t => t.Text == appointment || t.Value == appointment);


                                }


                            }

                            @Html.DropDownList("SelectedTime", times, "Select a time", new { @class = "form-select bg-light border-0", name = "time", id = "selectedTime", required = "required" })

                        }



                    }

                    @if (ViewBag.flag)
                    {
                        <div class="col-12">
                            <input type="submit" id="reason" name="slot" class="btn btn-primary w-100" style="height: 55px;" value="select" onclick="submitForm(event)" />

                        </div>
                     



                    }
                    else
                    {


                        <div class="col-12">

                            <input type="submit" name="datatocheckout" value="Appoint" class="btn btn-primary w-100 py-3" />
                            @*<a href="#" id="myLink">Send value</a>*@

                        </div>

                    }
                </div>

                    }
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Appointment End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">our centers</h5>
            <h1 class="display-4">Radiology centers</h1>
        </div>
        <div class="row g-5">

            @{
                Masterpies.Models.MasterPieseEntities2 db = new Masterpies.Models.MasterPieseEntities2();
                Masterpies.Models.Blog blog = new Masterpies.Models.Blog();
                var blogcard = db.Blogs.ToList();

                foreach (var item in blogcard)
                {
                    <div class="col-xl-4 col-lg-6">

                        <a href="@Url.Action("Blogsingle", "Blogs", new { id = item.id })">

                            <div class="bg-light rounded overflow-hidden">
                                <img class="img-fluid w-100" src="~/Content/@item.image" alt="" style="height:350px;">
                                <div class="p-4">
                                    <a class="h3 d-block mb-3" href="@Url.Action("Blogsingle", "Blogs", new { id = item.id })">@item.title</a>
                                    @*<p class="m-0">
                                    Dolor lorem eos dolor duo et eirmod sea. Dolor sit magna
                                    rebum clita rebum dolor stet amet justo
                                </p>*@
                                </div>
                                @*<div class="d-flex justify-content-between border-top p-4">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-2" src="img/user.jpg" width="25" height="25" alt="">
                                    <small>John Doe</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                                    <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                                </div>
                            </div>*@
                            </div>
                        </a>



                    </div>
                }
            }
          

            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>//$(document).ready(function () {
    //    // listen for the change event on the dropdown list
    //    $("#selectedTime").change(function () {
    //        // get the selected value
    //        var selectedValue = $(this).val();
    //        // display the selected value in a div with id 'selectedTimeValue'
    //        $("#selectedTimeValue").text(selectedValue);
    //    });
    //});



    $(document).ready(function () {
        // listen for the change event on the dropdown list
        $("#selectedTime").change(function () {
            // get the selected value
            var selectedValue = $(this).val();
            // store the selected value in a variable
            var myVariable = selectedValue;
            // set the value of the hidden input field to the selected value
            $("#myVariableValue").val(myVariable);
            // display the selected value in a div with id 'selectedTimeValue'
            $("#selectedTimeValue").text("Selected time: " + selectedValue);
            // set the href of the link dynamically
            $("#myLink").attr("href", "/Appointments/checkout?myVariable=" + encodeURIComponent(myVariable));
        });
    });</script>