@*@model Masterpies.Models.Appointment*@
@model IEnumerable<Masterpies.Models.Appointment>

<link href="~/Content/stylecheckpot.css" rel="stylesheet" />

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>

<title>checkout</title>

<header>
    <div class="container">
        <div class="navigation">

            <div class="logo">
                <i class="icon icon-basket "></i>Confirm Your Appointment
            </div>
            <div class="secure">
                <i class="icon icon-shield"></i>
                <span>Secure Checkout</span>
            </div>
        </div>
        <div class="notification text-white">
            Confirm Your Appointment
        </div>
    </div>
</header>

<section class="content">
    <div class="container">
        <input name="DeviceId" type="number" style="visibility:hidden;" value="@ViewBag.DeviceId" />
    </div>
    <div class="details shadow">
        <div class="details__item">
            <div class="item__details">
                <div class="item__title">
                    <label for="DeviceID">@ViewBag.Devicename</label>
                </div>
                <div class="item__quantity">
                    <b>price :</b> @ViewBag.prepayment $
                </div>

                <div class="item__description">
                    <ul style=" list-style: none;font-size:20px; ">
                        <li> <b>Patient Name :</b>@Session["FirstName"] @Session["LastName"] </li>
                        <li><b>Age :</b>@Session["patientAge"]   </li>
                        <li><b>Gender :</b>@Session["patientgender"]   </li>
                        <li><b>City :</b>@Session["city"]</li>
                        <li><b>Time :</b> @Session["time"]</li>
                        <li><b>Date :</b> @Session["AppointmentDate1"]</li>


                    </ul>
                </div>
           
            </div>
        </div>

    </div>

    <div class="discount"></div>

    <div class="container">
        <div class="payment">
            <div class="payment__title">
                Payment Method
            </div>
            <div class="payment__types">
                <div class="payment__type payment__type--cc active">
                    <i class="icon icon-credit-card"></i> Credit Card
                </div>
                <div class="payment__type payment__type--paypal active">
                    <i class="icon icon-paypal"></i>Paypal
                </div>

            </div>

            <div class="payment__info">
                <div class="payment__cc">
                    <div class="payment__title">
                        <i class="icon icon-user"></i>Personal Information
                    </div>
                    <form>
                        <div class="form__cc">
                            <div class="row">
                                <div class="field">
                                    <div class="title">
                                        Credit Card Number
                                    </div>
                                    <input type="text" class="input txt text-validated" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="field small">
                                    <div class="title">
                                        Expiry Date
                                    </div>
                                    <select class="input ddl">
                                        <option selected>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                    <select class="input ddl">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option selected>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                    </select>
                                </div>
                                <div class="field small">
                                    <div class="title">
                                        CVV Code
                                        <span class="numberCircle">?</span>
                                    </div>
                                    <input type="text" class="input txt" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="field">
                                    <div class="title">
                                        Name on Card
                                    </div>
                                    <input type="text" class="input txt" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="payment__shipping">
                    <div id="smart-button-container">
                        <div style="text-align: center;">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                    <script src="https://www.paypal.com/sdk/js?client-id=AYOPFmJHKEp34Obn8Gp5EJhzo8qOotnJl2Y6lj3E72wh3UcV-V-gVaGPkM-bR-XvEfuvN5ZhSeOgZk6R&enable-funding=venmo&currency=USD"
                            data-sdk-integration-source="button-factory"></script>
                    <script>
                        function initPayPalButton() {
                            paypal.Buttons({
                                style: {
                                    shape: 'rect',
                                    color: 'gold',
                                    layout: 'vertical',
                                    label: 'paypal',

                                },

                                createOrder: function (data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{ "amount": { "currency_code": "USD", "value": 1 } }]
                                    });
                                },

                                onApprove: function (data, actions) {
                                    return actions.order.capture().then(function (orderData) {

                                        // Full available details
                                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                        // Show a success message within this page, e.g.
                                        const element = document.getElementById('paypal-button-container');
                                        element.innerHTML = '';
                                        element.innerHTML = '<h3>Thank you for your payment!</h3>';

                                        // Or go to another URL:  actions.redirect('thank_you.html');

                                    });
                                },

                                onError: function (err) {
                                    console.log(err);
                                }
                            }).render('#paypal-button-container');
                        }
                        initPayPalButton();
                    </script>
                    @*<div class="payment__title">
                            <i class="icon icon-plane"></i> User Information
                        </div>
                        <div class="details__user">
                            <div class="user__name">

                                <br> 13/03/1980
                            </div>
                            <div class="user__address">
                                Shipping Address: 22 Street, Address
                                <br>Country
                            </div>
                        </div>*@

                </div>
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=AYOPFmJHKEp34Obn8Gp5EJhzo8qOotnJl2Y6lj3E72wh3UcV-V-gVaGPkM-bR-XvEfuvN5ZhSeOgZk6R&enable-funding=venmo&currency=USD"
                        data-sdk-integration-source="button-factory"></script>
                <script>
                    function initPayPalButton() {
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'gold',
                                layout: 'vertical',
                                label: 'paypal',

                            },

                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: [{ "amount": { "currency_code": "USD", "value": 1 } }]
                                });
                            },

                            onApprove: function (data, actions) {
                                return actions.order.capture().then(function (orderData) {

                                    // Full available details
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                    // Show a success message within this page, e.g.
                                    const element = document.getElementById('paypal-button-container');
                                    element.innerHTML = '';
                                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                                    // Or go to another URL:  actions.redirect('thank_you.html');

                                });
                            },

                            onError: function (err) {
                                console.log(err);
                            }
                        }).render('#paypal-button-container');
                    }
                    initPayPalButton();
                </script>
            </div>
        </div>
    </div>




    @{
        string url = Request.Url.AbsoluteUri; // get the absolute URL of the current request
        string[] segments = url.Split('/'); // split the URL into segments
        int q = Convert.ToInt16(segments[segments.Length - 1]);
    }

    <div class="container">

        <div class="actions">
            @using (Html.BeginForm("ConfirmBooking", "Appointments", new { id = q }, FormMethod.Post))
            {
                <input type="submit" class="btn action__submit" value="appoint" name="book" />
            }
            <a href="/Home/index" class="backBtn">Go Back to Home</a>

        </div>









        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
        @if (TempData["swal_message"] != null)
        {
            <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

             allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it


        }).then(function () {
            window.location.href = "/Home/Index";

            Home / Index


        });;
            </script>
        }


    </div>
</section>


