@model IEnumerable<Masterpies.Models.User>
@*@model Masterpies.Models.User*@



@{
    ViewBag.Title = "Index";
}

<style>
    /*    22. My Account Page
    */ .nav-box {
        border: 2px solid #eaeaea;
        border-radius: 10px;
        padding: 25px;
    }

        .nav-box .nav {
            margin: 0 -27px;
        }

    .dashboard-list li a {
        color: #303030;
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 15px 25px;
        margin-bottom: 2px;
    }

        .dashboard-list li a.active, .dashboard-list li a:hover {
            color: white;
            background-color: #2E7D32;
            position: relative;
        }

            .dashboard-list li a.active:after {
                content: '';
                background-color: #2E7D32;
                width: 30px;
                height: 61px;
                position: absolute;
                right: -30px;
                top: 0;
                border-radius: 0 100px 100px 0;
            }

    .dashboard-content h3 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;
    }

    .dashboard-content p {
        margin: 0;
    }

    .product-order .table thead th {
        font-size: 16px;
        padding: 15px 10px;
        font-weight: 600;
        border-bottom-width: 2px;
    }

    .product-order .table tbody tr td {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 10px;
        border-bottom-width: 2px;
    }

        .product-order .table tbody tr td a:hover {
            text-decoration: underline;
        }

    .dashboard-content .billing-address {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        margin: 15px 0 10px;
    }

    .dashboard-content .address .view:hover {
        text-decoration: underline;
    }

    .product-order .alert-danger, .mytickets-table .alert-danger {
        color: #2E7D32;
        border-color: #e5e5e5;
    }

    .product-order .alert-primary, .mytickets-table .alert-primary {
        color: #0090ff;
        border-color: #e5e5e5;
    }

    .product-order .alert-warning, .mytickets-table .alert-warning {
        color: #ff8a00;
        border-color: #e5e5e5;
    }

    .product-order .alert-success, .mytickets-table .alert-success {
        color: #009c07;
        border-color: #e5e5e5;
    }

    .profile-form .form-control {
        font-size: 18px;
        height: 60px;
        line-height: normal;
        border: 2px solid #eaeaea;
        border-radius: 0.5rem;
    }
</style>
<!--Page Content-->
<main id="page-content">

    <!--Page Banner-->
    <div class="page-banner categories-page-banner text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase">My Accounts</h1>
                    <!--Breadcrums-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item">
                                <a href="/Home/index">Home</a>
                                <span><i class="cps cp-caret-right"></i></span>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">My Accounts</li>
                        </ol>
                    </nav>
                    <!--End Breadcrums-->
                </div>
            </div>
        </div>
    </div>
    <!--End Page Banner-->

    <div class="section login-page-in">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="nav-box mb-4">
                        <div class="profile-content">
                            @foreach (var item in Model)
                            {


                                <div class="d-flex align-items-center mb-4">
                                    <img class="blur-up lazyload rounded-pill" src="assets/images/photo1.jpg" alt="" />
                                    <div class="detail mx-3">
                                        <h3 class="text-uppercase mb-0">@item.userName</h3>
                                        @*@Html.LabelFor(model => model.userName, new { @class = "text-uppercase mb-0" })*@

                                    </div>
                                </div>
                            }
                        </div>

                        <!-- Nav tabs -->
                        <ul class="nav flex-column dashboard-list" role="tablist">
                            <li>
                                <a class="nav-link active" data-bs-toggle="tab" href="#orders">Pending reservations</a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="tab" href="#profile">Profile</a>
                            </li>
                            <li>
                                @*<a class="nav-link" data-bs-toggle="tab" href="#downloads">Downloads</a>*@
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="tab" href="#mytickets">previous reservations</a>
                            </li>
                            <li>
                                <a class="nav-link" href="login-register.html">Logout</a>
                            </li>
                        </ul>
                        <!-- End Nav tabs -->
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content">
                        <!-- Orders -->
                        <div id="orders" class="product-order tab-pane fade active show">
                            <h3>Pending reservations</h3>
                            <div class="table-responsive" style="overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 600px; ">
                                @Html.Action("_profileappending")

                            </div>
                        </div>
                        <!-- End Orders -->
                        <!-- profile -->
                        <div id="profile" class="product-order tab-pane fade">

                            @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <h3>Profile</h3>
                                foreach (var item in Model)
                                {


                                    <div class="text-danger"> @Html.ValidationSummary(true, "") </div>
                                    <input name="iduser" id="iduser" type="hidden" value="@item.iduser">
                                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.iduser)*@

                                }
                                <form method="post" action="#" class="profile-form">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label for="CustomerFirstName">First Name</label>
                                                <input id="userName" type="text" name="userName" value="" placeholder="Your Name" class="form-control" required="">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label for="CustomerEmail1">Email Address</label>
                                                <input id="Email" type="email" name="Email" readonly value="@ViewBag.UserEmail" placeholder="@ViewBag.UserEmail" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label for="phone">Phone Number</label>

                                                <input id="phone" type="text" name="PhoneNumber" placeholder="Phone Number" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label for="CustomerPassword">New Password</label>
                                                <input id="CustomerPassword" type="password" name="customer[Password]" placeholder="Password" class="form-control" required="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label for="CustomerConfirmPassword">Confirm Password</label>
                                                <input id="CustomerConfirmPassword" type="Password" name="customer[ConfirmPassword]" placeholder="Confirm Password" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-2">
                                            <div class="customCheckbox form-check clearfix">
                                                <input id="newsletter" name="newsletter" type="checkbox" class="form-check-input">
                                                <label for="newsletter" class="mx-2">Sign Up for Newsletter</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-end">
                                            <input type="submit" class="btn btn-lg btn-primary rounded-pill" value="Update Profile">
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>

                        <!-- End Downloads -->
                        <!-- Downloads -->
                        <!--<div id="downloads" class="product-order tab-pane fade">
                            <h3>Downloads</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Downloads remaining</th>
                                            <th>Expires</th>
                                            <th class="text-center">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Fuel Injector For Skoda Yeti</td>
                                            <td>July 22, 2021</td>
                                            <td>never</td>
                                            <td class="text-center">
                                                <a class="view" href="#"><u>Download</u></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ACDelco 335 Professional</td>
                                            <td>Dec 17, 2021</td>
                                            <td>never</td>
                                            <td class="text-center">
                                                <a class="view" href="#"><u>Download</u></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Road Warrior Hub pilot</td>
                                            <td>Apr 30, 2021</td>
                                            <td>never</td>
                                            <td class="text-center">
                                                <a class="view" href="#"><u>Download</u></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Air Filter</td>
                                            <td>Mrc 31, 2022</td>
                                            <td>never</td>
                                            <td class="text-center">
                                                <a class="view" href="#"><u>Download</u></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->
                        <!-- End Downloads -->
                        <!-- Account Details -->
                        <div id="mytickets" class="tab-pane fade">
                            <h3>My tickets</h3>
                            <div class="table-responsive" style=" overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 600px;">
                                @Html.Action("_profileapp")

                            </div>
                        </div>
                        <!-- End Account Details -->
                    </div>
                    <!-- End Tab panes -->
                </div>
            </div>
        </div>
    </div>

</main><!--End Page Content-->
﻿

